[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "*"
speechrecognition = "*"
selenium = "*"
webdriver-manager = "*"
gtts = "*"

[dev-packages]

[requires]
python_version = "3.8"
